body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

h1, h2, h3 {
    margin: 15px 0;
}

.main {
    padding: 15px;
}

.featured-anime{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70vh;
}

.anime-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70vh;
}

.anime-card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 370px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 1s ease-in-out;
    border-radius: 10px;
}

.anime-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: #ff6347
}

.anime-card img {
    width: 100%;
    height: 300px; /* Задаем фиксированную высоту */
    object-fit: cover; /* Изображение масштабируется и обрезается */
    border-radius: 10px;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.video-placeholder {
    background-color: #ccc;
    width: 640px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}

.controls {
    margin-top: 10px;
}

.controls button {
    margin: 5px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px 0px;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
}

.anime-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    animation: fadeIn 1s ease-in-out;
}

.anime-description img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgb(107, 107, 107);
    transition: transform 0.3s;
}

.anime-description img:hover {
    transform: scale(1.05);
}

.anime-description-full {
    text-indent: 40px;
    line-height: 140%;
    align-items: center;
    padding: 10px 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

.filter-sidebar {
    position: fixed;
    top: 60px; /* Высота header */
    right: 0;
    width: 250px;
    height: calc(100vh - 100px); /* Высота header + footer */
    background-color: #f8f8f8;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}

.filter-sidebar h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.filter-sidebar label {
    display: block;
    margin-bottom: 8px;
}

.filter-sidebar input[type="checkbox"] {
    margin-right: 8px;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


